[user]
	name = Vassilis S. Moustakas
	email = vsmoustakas@gmail.com
[core]
	editor = emacs -nw
	pager = less -FMRiX
[color]
	ui = auto
[commit]
	template = ~/.git-commit-template
[pull]
        rebase = true
[merge]
        ff = only
[push]
	default = simple
[alias]
        # branch
	br = branch
        br-pav = branch -v -a # print available
        # checkout
        co = checkout
        # commit
        ci = commit
        # diff
	df = diff --name-only # only filenames
        dfa = diff
	dfc = diff --cached
        df-br = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
        # log
	llog = log --oneline @{upstream}..HEAD
	llp = log -p @{upstream}..HEAD
	lldag = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        lldag2 = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
        # remote
        rls = remote -v
        # status
        st = status
        # misc.
        alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
        untrack = rm --cache --

        ##### Workflows #####
        j-squash-to-first-local = "!bash -c 'source \"${HOME}/.gitconfig-aliases.sh\" && git_j_squash_to_first_local'"
        j-uncommited-to-last-local = "!bash -c 'source \"${HOME}/.gitconfig-aliases.sh\" && git_j_uncommited_to_last_local \"$@\"' --"
        j-restore-all-but = "!bash -c 'source \"${HOME}/.gitconfig-aliases.sh\" && git_j_restore_all_but \"$@\"' --"
        j-stage-deleted-but = "!bash -c 'source \"${HOME}/.gitconfig-aliases.sh\" && git_j_stage_deleted_but \"$@\"' --"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
