[defaults]
# Point to your renamed inventory file
inventory = ./ansible/inventory.ini

# Some commands require sudo priviledges
ask_become_pass = True

# Use the 'yaml' callback for prettier, more readable terminal output
stdout_callback = yaml
# This ensures that 'ansible-adhoc' commands also use this format
bin_ansible_callbacks = True